<div class="card" [ngClass]="{'card-color-visa' : type === 'Visa', 'card-color-ms': type == 'MS', 'card-color-eth': type == 'Visa-eth'}">
    <div class="top">
        <div class="left">
            <img [src]="getImage(type)" alt="">
            <h2>BTC</h2>
        </div>

        <div class="right">
            <img [src]="getCardType(type)" alt="">
        </div>
    </div>

    <div class="middle">
        <h1>$23,444</h1>
        <div class="chip">
            <img src="assets/images/card chip.png" alt="">
        </div>
    </div>

    <div class="bottom">
        <div class="left">
            <small>Card Holder</small>
            <h5>JOHN DOE</h5>
        </div>

        <div class="right">
            <div class="expiry">
                <small>Expiry</small>
                <h5>09/30</h5>
            </div>

            <div class="cvv">
                <small>CVV</small>
                <h5>123</h5>
            </div>
        </div>
    </div>
</div>