<nav>
    <div class="container">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="search-bar">
            <span class="material-icons-sharp">search</span>
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="profile-area">
            <div class="theme-btn">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>

            <div class="profile">
                <div class="profile-photo">
                    <img src="assets/images/profile-1.jpg" alt="Profile">
                </div>
                <h5>Profile Name</h5>
                <span class="material-icons-sharp">expand_more</span>
            </div>

            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>

        </div>
    </div>
</nav>