.analyse {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
}

.analyse > div{
    background-color: var(--color-white);
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    box-shadow: 0 2px 2px 1px grey;
    cursor: pointer;
    transition: all 0.3s ease;
}

.analyse > div:hover{
    box-shadow: none;
    box-shadow: 0 20px 20px 10px var(--color-primary);
}

.analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

.analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.analyse svg{
    width: 7rem;
    height: 7rem;
}
.analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}