<section class="right">
    <div class="investments">
        <div class="header">
            <h2>Investments</h2>
            <a href="#">More <span class="material-icons-sharp">chevron_right</span></a>
        </div>

        <div class="investment">
            <img src="assets/images/uniliver.png" alt="">
            <h4>Uniliver</h4>
            <div class="date-time">
                <p>7 Nov, 2022</p>
                <small class="text-muted">9 : 14 PM</small>
            </div>

            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>

            <div class="amount">
                <p>$20, 333</p>
                <small class="danger">>-4.32%</small>
            </div>
        </div>

        <div class="investment">
            <img src="assets/images/tesla.png" alt="">
            <h4>Tesla</h4>
            <div class="date-time">
                <p>7 Nov, 2022</p>
                <small class="text-muted">9 : 14 PM</small>
            </div>

            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>

            <div class="amount">
                <p>$20, 333</p>
                <small class="danger">>-4.32%</small>
            </div>
        </div>

        <div class="investment">
            <img src="assets/images/monster.png" alt="">
            <h4>Monster</h4>
            <div class="date-time">
                <p>7 Nov, 2022</p>
                <small class="text-muted">9 : 14 PM</small>
            </div>

            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>

            <div class="amount">
                <p>$20, 333</p>
                <small class="danger">>-4.32%</small>
            </div>
        </div>

        <div class="investment">
            <img src="assets/images/mcdonalds.png" alt="">
            <h4>McDonalds</h4>
            <div class="date-time">
                <p>7 Nov, 2022</p>
                <small class="text-muted">9 : 14 PM</small>
            </div>

            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>

            <div class="amount">
                <p>$20, 333</p>
                <small class="danger">>-4.32%</small>
            </div>
        </div>
    </div>
</section>