.monthly-report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

details {
    cursor: pointer;
}

.monthly-report h1 {
    font-weight: 700;
    font-size: 1.8rem;
}