.fast-payment {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fast-payment .badges {
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.fast-payment .badge {
    padding: 0.6rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

.fast-payment .badge span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.fast-payment .badge:hover {
    box-shadow: 0 20px 20px var(--color-primary-light);
    cursor: pointer;
}

.fast-payment .badge:first-child span {
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
}

.fast-payment .badge div {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.primary {
    color: var(--color-primary);
  }
  
  .danger {
    color: var(--color-danger);
  }
  
  .success {
    color: var(--color-success);
  }
  
  .purple {
    color: var(--color-purple);
  }
  
  .bg-primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light) ;
  }
  
  .bg-danger {
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light) ;
  }
  
  .bg-success {
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light) ;
  }
  
  .bg-purple {
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light) ;
  }
  
  .bg-dark{
    background: #27282F;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
  }
  
  .bg-purple-light{
    background: var(--color-purple-light);
  }
  
  .bg-danger-light{
    background: var(--color-danger-light);
  }
  
  .bg-primary-light{
    background: var(--color-primary-light);
  }
  
  .bg-success-light{
    background: var(--color-success-light);
  }