<div class="fast-payment">
    <h2>Fast Payment</h2>

    <div class="badges">
        <div class="badge">
            <span class="material-icons-sharp">add</span>
        </div>

        <div class="badge">
            <span class="bg-primary"></span>
            <div>
                <h5>Training</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-success"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-success"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-success"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-success"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-primary"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>

        <div class="badge">
            <span class="bg-danger"></span>
            <div>
                <h5>Internet</h5>
                <h4>$50</h4>
            </div>
        </div>
    </div>
</div>
<div id="chart">
    <app-graph-details></app-graph-details>
</div>